<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot quiets some noisy loggers by default, so we want to pull that in -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <springProfile name="!local &amp; !test">
        <root level="WARN">
            <appender-ref ref="STDOUT"/>
        </root>

        <logger name="org.apache.kafka" level="ERROR" />
        <logger name="org.springframework.web" level="ERROR" />
        <logger name="ch.qos.logback" level="ERROR"/>
        <logger name="com.projectronin" level="INFO" />
    </springProfile>

    <springProfile name="local,test,domaintest">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="org.apache.kafka" level="ERROR" />
        <logger name="org.springframework.web" level="WARN" />
        <logger name="ch.qos.logback" level="ERROR"/>
        <logger name="com.projectronin" level="INFO" />
    </springProfile>
</configuration>
