name: CICD
on:
  push:
    branches: [master]
  pull_request:
jobs:
  ###############################################
  # Run tests and publish coverage to codecov.io
  ###############################################
  cicd:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: "zulu"

      - name: Compile
        run: ./gradlew classes testClasses
        env:
          PACKAGE_USER: ${{ secrets.PACKAGES_PAT_USER }}
          PACKAGE_TOKEN: ${{ secrets.PACKAGES_PAT }}

      - name: Static Analysis
        run: ./gradlew detekt

      - name: Test
        run: ./gradlew test

      - name: Upload Coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          file: ./codecov/test/jacocoTestReport.xml

      - name: Publish Snapshot
        run: ./gradlew publish
        env:
          NEXUS_USER: ${{ secrets.NEXUS_MAVEN_USER }}
          NEXUS_TOKEN: ${{ secrets.NEXUS_MAVEN_TOKEN }}
